<section class="vh-100" id='signUp'>
   
    <div class="container">
       <form [formGroup]='signIn' (ngSubmit)="signIn.valid&&formDataIn()" class="row  g-3 w-50 m-auto">
         <div class="col-md-12">
             <h1 class="text-center text-white mb-4">Sign In</h1>
         </div>
         <div class="col-md-12" *ngIf='error'>
          <p  class="text-danger text-center fa-2x mb-4">{{error}}</p>
        </div>
 
           <div class="col-md-12" >
               <div class=" flex-nowrap">
                   <div class="input-group-prepend mt-3">
                     <span class="input-group-text content" id="addon-wrapping"><i class="fas fa-envelope-square text-white"></i></span>
                   <input [class.is-valid]='signIn.controls.email.valid' [class.is-invalid]='signIn.controls.email.invalid&&signIn.controls.email.touched' type="email" class="form-control " formControlName='email' placeholder="Enter your Email" aria-label="email" aria-describedby="addon-wrapping">
                 </div>
                 </div>
                 <div *ngIf='signIn.get("email")?.errors !=null&& signIn.get("email")?.touched'>
                  <span *ngIf='signIn.get("email")?.errors?.required'  class="text-danger ">email is required</span>
                  <span *ngIf='signIn.get("email")?.errors?.email'  class="text-danger ">email in invalied</span>
               
              </div>
           </div>
           <div class="col-md-12" >
               <div class=" flex-nowrap">
                   <div class="input-group-prepend mt-3">
                     <span class="input-group-text content" id="addon-wrapping"><i class="fas fa-lock text-white"></i></span>
                   <input [class.is-valid]='signIn.controls.password.valid' [class.is-invalid]='signIn.controls.password.invalid&&signIn.controls.password.touched' formControlName='password' type="password" class="form-control " placeholder="Enter your password" aria-label="password" aria-describedby="addon-wrapping">
                 </div>
                 </div>
                 <div *ngIf='signIn.get("password")?.errors !=null&&signIn.get("password")?.touched'>
                  <span *ngIf='signIn.get("password")?.errors?.required'  class="text-danger ">password is required</span>
                  <span *ngIf='signIn.get("password")?.errors?.pattern'  class="text-danger ">password must has Minimum eight characters, at least one letter, one number and one special character: </span>
               
              </div>
           </div>
            
         
           <div class="col-12">
             <button [disabled]='signIn.invalid'[ngStyle]="signIn.invalid? isStyleValid:isStyleInvalid"  type="submit" class="btn btn-info mt-3"><span *ngIf="!isclicked">Sign In</span><span *ngIf="isclicked">waiting....</span></button>
           </div>
           <div class="col-md-12" *ngIf='isSucessed'>
            <p  class="text-success text-center fa-2x mb-4">{{isSucess}}</p>
          </div>
         </form>
   
   
   
   
   
   </div> 
   
   </section>
